/* html color palette:
 * https://www.w3schools.com/tags/ref_colornames.asp
 */

/* PDF Export Tweaks ----- v ------------------------------------------------------------- */

/* Page Break on --- */
@media print {
  hr {
	  break-after:page;
	  visibility: hidden;
  }
}


/*Prevent headings from being on bottom of Page*/
@media print {
  h1:after, h3:after, h2:after, h4:after, h5:after, h6:after{
     content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
	}
}

/* PDF Export Tweaks ----- ^ ------------------------------------------------------------- */


/* Stop footnotes/sup from affecting line height */
sup {
	vertical-align: top;
	position: relative;
	top: -0.3em;
	font-size: 0.75em;
}


:root
{
    --dark0_x:  46,52,64; /* #2e3440 */
    --dark0:    rgb(var(--dark0_x));
    --dark1_x:  59,66,82; /* #3b4252 */
    --dark1:    rgb(var(--dark1_x));
    --dark2_x:  67,76,94; /* #434c5e */
    --dark2:    rgb(var(--dark2_x));
    --dark3_x:  76,86,106; /* #4c566a */
    --dark3:    rgb(var(--dark3_x));

    --light0_x: 216,222,233; /* #d8dee9 */
    --light0:   rgb(var(--light0_x));
    --light1_x: 229,233,240; /* #e5e9f0 */
    --light1:   rgb(var(--light1_x));
    --light2_x: 236,239,244; /* #eceff4 */
    --light2:   rgb(var(--light2_x));
    --light3_x: 255,255,255; /* #ffffff */
    --light3:   rgb(var(--light3_x));

    --frost0_x: 143,188,187; /* #8fbcbb */
    --frost0:   rgb(var(--frost0_x));
    --frost1_x: 136,192,208; /* #88c0d0 */
    --frost1:   rgb(var(--frost1_x));
    --frost2_x: 129,161,193; /* #81a1c1 */
    --frost2:   rgb(var(--frost2_x));
    --frost3_x: 94,129,172; /* #5e81ac */
    --frost3:   rgb(var(--frost3_x));

    /*--red_dark_eli_x: 148,66,95; */ /* 94425f */    /* changed by eli */
    --red_dark_eli_x: 202,90,132; /* cA5A84 */    /* changed by eli */
    --red_dark_eli: rgb(var(--red_dark_eli_x));  /* changed by eli */
    --red_x:    191,97,106; /* #bf616a */
    --red:      rgb(var(--red_x));
    --orange_x: 208,135,112; /* #d08770 */
    --orange:   rgb(var(--orange_x));
    --yellow_x: 235,203,139; /* #ebcb8b */
    --yellow:   rgb(var(--yellow_x));
    --green_x:  163,190,140; /* #a3be8c */
    --green:    rgb(var(--green_x));
    --purple_x: 180,142,173; /* #b48ead */
    --purple:   rgb(var(--purple_x));

    /*blue highlight colour obsidian gradient to H6*/
    --highlight_col_x:  86,104,194; /* more purple: 98,97,184 */
    --highlight_col:    rgb(var(--highlight_col_x));
    --highlight_h2_x:  108 127 185;
    --highlight_h2_col:    rgb(var(--highlight_h2_x));
    --highlight_h3_x:  120 153 186;
    --highlight_h3_col:    rgb(var(--highlight_h3_x));
    --highlight_h4_x:  143 188 187;
    --highlight_h4_col:    rgb(var(--highlight_h4_x));
    --highlight_h5_x:  154 205 188;
    --highlight_h5_col:    rgb(var(--highlight_h5_x));
    --highlight_h6_x:  165 222 189;
    --highlight_h6_col:    rgb(var(--highlight_h6_x));
/*    --bold_italic_x: 141 76 94;*/
    --bold_italic_x: 146 146 146;
    --bold_italic_col: rgb(var(--bold_italic_x));

    --code_dark_x: 50 50 50;
    --code_dark_col: rgb(var(--code_dark_x));
    --code_light_x: 240 240 240;
    --code_light_col: rgb(var(--code_light_x));
}

.file
{
    color: salmon;
    /*font-style: italic;*/
}


/* Link colors in reading mode */
a:link {  /* internal link */
  /*color: red;*/
/*   color: var(--highlight_h5_col); */
  color: cadetblue;
}
.external-link {
    /*color: blue !important;*/
/*     color: var(--highlight_h5_col) !important; */
  color: steelblue !important;
}


.theme-dark
{
    /*--h1-color:                      var(--highlight_col);
    --h2-color:                      var(--yellow);
    --h3-color:                      var(--green);
    --h4-color:                      var(--purple);
    --h5-color:                      var(--frost0);
    --h6-color:                      var(--frost2);*/
    --h1-color:                      var(--highlight_col);
    --h2-color:                      var(--highlight_h2_col);
    --h3-color:                      var(--highlight_h3_col);
    --h4-color:                      var(--highlight_h4_col);
    --h5-color:                      var(--highlight_h5_col);
    --h6-color:                      var(--highlight_h6_col);

    --bold-color:                    var(--bold_italic_col);
    --italic-color:                  var(--bold_italic_col);

    --code-background:               var(--code_dark_col);

    /* preview dark theme link colors */
    --link-external-color:           steelblue;  /*external*/
    --link-external-decoration:      none;       /*external*/
    --link-color:                    cadetblue;  /*internal*/
    --link-decoration:               none;       /*internal*/
}

.theme-light
{
    --h1-color:                      var(--highlight_col);
    --h2-color:                      var(--highlight_h2_col);
    --h3-color:                      var(--highlight_h3_col);
    --h4-color:                      var(--highlight_h4_col);
    --h5-color:                      var(--highlight_h5_col);
    --h6-color:                      var(--highlight_h6_col);

    --bold-color:                    var(--bold_italic_col);
    --italic-color:                  var(--bold_italic_col);

    --code-background:               var(--code_light_col);

    /* preview light theme link colors */
    --link-external-color:           steelblue;  /*external*/
    --link-external-decoration:      none;       /*external*/
    --link-color:                    cadetblue;  /*internal*/
    --link-decoration:               none;       /*internal*/
}


/* tag pills, .tag for reading mode, .cm-tag-xy for preview */
.tag[href^="#1st"] {
  background-color: red;
  color: white;
}
.cm-tag-1st {
  background-color: red;
  color: white;
}
.tag[href^="#2nd"] {
  background-color: orange;
  color: white;
}
.cm-tag-2nd {
  background-color: orange;
  color: white;
}
.tag[href^="#3rd"] {
  background-color: yellow;
  color: darkgrey;
}
.cm-tag-3rd {
  background-color: yellow;
  color: darkgrey;
}
.tag[href^="#current"] {
  background-color: yellow;
  color: darkgrey;
}
.cm-tag-current {
  background-color: yellow;
  color: darkgrey;
}
.tag[href^="#complete"] {
  background-color: green;
  color: white;
  opacity: 0.8;
}
.cm-tag-complete {
  background-color: green;
  color: white;
  opacity: 0.8;
}
.tag[href^="#done"] {
  background-color: seagreen;
  color: white;
  opacity: 0.8;
}
.cm-tag-done {
  background-color: seagreen;
  color: white;
  opacity: 0.8;
}
.tag[href^="#haveNotes"] {
  background-color: darkseagreen;
  color: white;
  opacity: 0.8;
}
.cm-tag-haveNotes {
  background-color: darkseagreen;
  color: white;
  opacity: 0.8;
}
.tag[href^="#niceToHave"] {
  background-color: seagreen;
  color: white;
  opacity: 0.8;
}
.cm-tag-niceToHave {
  background-color: seagreen;
  color: white;
  opacity: 0.8;
}
.tag[href^="#inProgress"] {
  background-color: orange;
  color: white;
  opacity: 0.8;
}
.cm-tag-inProgress {
  background-color: orange;
  color: white;
  opacity: 0.8;
}
.tag[href^="#read"] {
  background-color: orange;
  color: white;
  opacity: 0.8;
}
.cm-tag-read {
  background-color: orange;
  color: white;
  opacity: 0.8;
}
.tag[href^="#notTransferred"] {
  background-color: yellow;
  color: darkgrey;
  opacity: 0.8;
}
.cm-tag-notTransferred {
  background-color: yellow;
  color: darkgrey;
  opacity: 0.8;
}
.tag[href^="#important"] {
  background-color: red;
  color: white;
}
.cm-tag-important {
  background-color: red;
  color: white;
}
.tag[href^="#question"] {
  background-color: red;
  color: white;
}
.cm-tag-question {
  background-color: red;
  color: white;
}
.tag[href^="#open"] {
  background-color: red;
  color: white;
}
.cm-tag-open {
  background-color: red;
  color: white;
}
.tag[href^="#todo"] {
  background-color: cornflowerblue;
  color: white;
}
.cm-tag-todo {
  background-color: cornflowerblue;
  color: white;
}
.tag[href^="#extra"] {
  background-color: cornflowerblue;
  color: white;
}
.cm-tag-extra {
  background-color: cornflowerblue;
  color: white;
}
